In [1]:
import pandas as pd

In [4]:
df1 = pd.read_csv('../data/singers_media/Lady_Gaga_MSNBC_common_users.csv')
df2 = pd.read_csv('../data/singers_media/Lady_Gaga_huffpost_common_users.csv')
df3 = pd.read_csv('../data/singers_media/Lady_Gaga_fox_news_common_users.csv')
df4 = pd.read_csv('../data/singers_media/Lady_Gaga_the_daily_wire_common_users.csv')

df5 = pd.read_csv('../data/singers_media/Beyonce_MSNBC_common_users.csv')
df6 = pd.read_csv('../data/singers_media/Beyonce_huffpost_common_users.csv')
df7 = pd.read_csv('../data/singers_media/Beyonce_fox_news_common_users.csv')
df8 = pd.read_csv('../data/singers_media/Beyonce_the_daily_wire_common_users.csv')

df9 = pd.read_csv('../data/singers_media/Billie_Ellish_MSNBC_common_users.csv')
df10 = pd.read_csv('../data/singers_media/Billie_Ellish_huffpost_common_users.csv')
df11 = pd.read_csv('../data/singers_media/Billie_Ellish_fox_news_common_users.csv')
df12 = pd.read_csv('../data/singers_media/Billie_Ellish_the_daily_wire_common_users.csv')

df13 = pd.read_csv('../data/singers_media/Tylor_Swift_MSNBC_common_users.csv')
df14 = pd.read_csv('../data/singers_media/Tylor_Swift_huffpost_common_users.csv')
df15 = pd.read_csv('../data/singers_media/Tylor_Swift_fox_news_common_users.csv')
df16 = pd.read_csv('../data/singers_media/Tylor_Swift_the_daily_wire_common_users.csv')

df17 = pd.read_csv('../data/singers_media/Katy_Perry_MSNBC_common_users.csv')
df18 = pd.read_csv('../data/singers_media/Katy_Perry_huffpost_common_users.csv')
df19 = pd.read_csv('../data/singers_media/Katy_Perry_fox_news_common_users.csv')
df20 = pd.read_csv('../data/singers_media/Katy_Perry_the_daily_wire_common_users.csv')

df21 = pd.read_csv('../data/singers_media/newsmax-biden.csv')
df22 = pd.read_csv('../data/singers_media/newsmax-trump.csv')

df23 = pd.read_csv('../data/singers_media/TYT-biden.csv')
df24 = pd.read_csv('../data/singers_media/TYT-trump.csv')

In [5]:
df25 = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15,df16,df17,df18,df19,df20], axis = 0, ignore_index = True)

In [7]:
df25 = df25.drop(['Unnamed: 0'], axis = 1)
df25

          Target          Source
0      Lady_Gaga           MSNBC
1      Lady_Gaga           MSNBC
2      Lady_Gaga           MSNBC
3      Lady_Gaga           MSNBC
4      Lady_Gaga           MSNBC
...          ...             ...
3354  Katy_Perry  the_daily_wire
3355  Katy_Perry  the_daily_wire
3356  Katy_Perry  the_daily_wire
3357  Katy_Perry  the_daily_wire
3358  Katy_Perry  the_daily_wire

[3359 rows x 2 columns]

In [8]:
df26 = pd.concat([df21,df22,df23,df24,df25], axis = 0, ignore_index = True)

In [9]:
df26

            Target          Source
0     Alice_Cooper         Newsmax
1     Alice_Cooper         Newsmax
2     Alice_Cooper         Newsmax
3     Alice_Cooper         Newsmax
4     Alice_Cooper         Newsmax
...            ...             ...
4617    Katy_Perry  the_daily_wire
4618    Katy_Perry  the_daily_wire
4619    Katy_Perry  the_daily_wire
4620    Katy_Perry  the_daily_wire
4621    Katy_Perry  the_daily_wire

[4622 rows x 2 columns]

In [11]:
df26.to_csv('../data/singers_media/concat1.csv')

# 第二次合并

In [12]:
df27 = pd.read_csv('../data/singers_media/concat1.csv')

In [15]:
df28 = pd.read_csv('../data/singers_media/Alice_Cooper_Fox_News_common_users.csv')
df29 = pd.read_csv('../data/singers_media/Alice_Cooper_MSNBC_common_users.csv')
df30 = pd.read_csv('../data/singers_media/Alice_Cooper_Huffpost_common_users.csv')
df31 = pd.read_csv('../data/singers_media/Alice_Cooper_the_daily_wire_common_users.csv')

df32 = pd.read_csv('../data/singers_media/Ted_Nugent_Fox_News_common_users.csv')
df33 = pd.read_csv('../data/singers_media/Ted_Nugent_MSNBC_common_users.csv')
df34 = pd.read_csv('../data/singers_media/Ted_Nugent_Huffpost_common_users.csv')
df35 = pd.read_csv('../data/singers_media/Ted_Nugent_the_daily_wire_common_users.csv')

df36 = pd.read_csv('../data/singers_media/Jessica_Simpson_Fox_News_common_users.csv')
df37 = pd.read_csv('../data/singers_media/Jessica_Simpson_MSNBC_common_users.csv')
df38 = pd.read_csv('../data/singers_media/Jessica_Simpson_Huffpost_common_users.csv')
df39 = pd.read_csv('../data/singers_media/Jessica_Simpson_the_daily_wire_common_users.csv')

df40 = pd.read_csv('../data/singers_media/Kid_rock_Fox_News_common_users.csv')
df41 = pd.read_csv('../data/singers_media/Kid_rock_MSNBC_common_users.csv')
df42 = pd.read_csv('../data/singers_media/Kid_rock_Huffpost_common_users.csv')
df43 = pd.read_csv('../data/singers_media/Kid_rock_the_daily_wire_common_users.csv')

df44 = pd.read_csv('../data/singers_media/10singer_cbs.csv')
df45 = pd.read_csv('../data/singers_media/10singer_cnn.csv')
df46 = pd.read_csv('../data/singers_media/10singer_nyp.csv')
df47 = pd.read_csv('../data/singers_media/10singer_yahoo.csv')

In [16]:
df48 = pd.concat([df44,df45,df46,df47], axis = 0, ignore_index = True)

In [18]:
df48 = df48.drop(['Unnamed: 0', 'Common_User_channel_id'], axis = 1)

In [20]:
df49 = pd.concat([df28,df29,df30,df31,df32,df33,df34,df35,df36,df37,df38,df39,df40,df41,df42,df43], axis = 0, ignore_index = True)

In [22]:
df49 = df49.drop(['Unnamed: 0'], axis = 1)

In [23]:
df50 = pd.concat([df27,df48,df49], axis = 0, ignore_index = True)

In [25]:
df50.to_csv('../data/singers_media/concat2.csv')

# kanye west forgotten

In [26]:
df51 = pd.read_csv('../data/singers_media/Kanye_West_Fox_News_common_users.csv')
df52 = pd.read_csv('../data/singers_media/Kanye_West_MSNBC_common_users.csv')
df53 = pd.read_csv('../data/singers_media/Kanye_West_Huffpost_common_users.csv')
df54 = pd.read_csv('../data/singers_media/Kanye_West_the_daily_wire_common_users.csv')

In [27]:
df55 = pd.read_csv('../data/singers_media/concat2.csv')

In [28]:
df56 = pd.concat([df51,df52,df53,df54], axis = 0, ignore_index = True)
df56 = df56.drop(['Unnamed: 0'], axis = 1)

In [29]:
df57 = pd.concat([df55,df56], axis = 0, ignore_index = True)

In [30]:
df57.to_csv('../data/singers_media/concat2.csv')

In [31]:
df57['Source'].unique()

array(['Newsmax', 'TYT', 'MSNBC', 'Huffpost', 'Fox_News',
       'the_daily_wire', 'CBS', 'CNN', 'NYP', 'YAHOO'], dtype=object)

In [32]:
df57['Target'].unique()

array(['Alice_Cooper', 'Beyonce', 'Billie_Ellish', 'Kanye_West',
       'Katy_Perry', 'Ted_Nugent', 'Kid_rock', 'Lady_Gaga', 'Tylor_Swift',
       'Jessica_Simpson'], dtype=object)